/* body { 
 background-color: black; 
 overflow: hidden; 
 background-image: url("./assets/Background.jpg"); 
 background-size: cover; 
 background-position: center; 
 background-repeat: no-repeat; 
 height: 100vh;
} */

/* @media only screen and (max-height: 920px) {
	body {
		margin-bottom: 10rem;
	}
} */
