.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url("../../assets/Background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* @media only screen and (max-width: 1222px) {
	.contact {
		/* margin-left: 10vw; 
	}
}
@media only screen and (max-width: 1072px) {
	.contact {
		/* margin-left: 5vw; 
	}
}
@media only screen and (max-width: 1021px) {
	.contact {
		/* margin-top: 4rem; 
		/* margin-left: 14%; 
	}
}*/
@media only screen and (max-height: 779px) {
	.contact {
		padding-top: 2rem;
	}
}
@media only screen and (max-height: 567px) {
	.contact {
		padding-top: 2.5rem;
	}
}
.getInTouch {
	font-size: 29px;
	font-weight: bold;
	color: white;
}
.getInTouch span {
	color: aqua;
}
.contactLine {
	width: 58rem;
}
@media only screen and (max-width: 1021px) {
	.contactLine {
		width: 70vw;
	}
}
.contactData {
	display: flex;
	gap: 3rem;
	margin-top: 3rem;
}
@media only screen and (max-width: 1021px) {
	.contactData {
		flex-direction: column;
		gap: 1rem;
	}
}
@media only screen and (max-height: 785px) {
	.contactData {
		margin-top: 1rem;
	}
}
.contactData div p {
	padding: 15px;
	background-color: #333533;
	color: white;
	margin-bottom: 8px;
	width: 25rem;
	border-radius: 10px;
	display: flex;
}
@media only screen and (max-width: 1021px) {
	.contactData div p {
		width: 70vw;
	}
}
@media only screen and (max-width: 424px) {
	.contactData div p {
		font-size: 12px;
	}
}
@media only screen and (max-height: 668px) {
	.contactData div p {
		padding: 7px;
	}
}
@media only screen and (max-width: 337px) {
	.contactData div p {
		font-size: 10px;
	}
}
.allAbout {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
@media only screen and (max-width: 424px) {
	.mail {
		font-size: 14px;
	}
}
.mail a {
	text-decoration: none;
	color: white;
}
.linkdIn a {
	text-decoration: none;
	color: white;
}
.contactIcon {
	color: aqua;
	font-size: 18px;
	margin-right: 10px;
}
.contactFields {
	display: flex;
	flex-direction: column;
	gap: 19px;
}
.nameEmail {
	display: flex;
	gap: 1rem;
}
@media only screen and (max-width: 1021px) {
	.nameEmail {
		flex-direction: column;
		gap: 18px;
		width: 43%;
		/* padding: 10px 0 10px 0; */
	}
}
.nameEmail input {
	padding: 12px;
	border-radius: 10px;
	border: none;
	background-color: #333533;
	color: white;
	font-size: 15px;
}
@media only screen and (max-width: 1021px) {
	.nameEmail input {
		width: 70vw;
		height: 5.5vh;
	}
}
/* @media only screen and (max-width: 580px) {
	.nameEmail input {
		width: 70vw;
	}
} */
.msg {
	padding: 15px;
	border-radius: 10px;
	border: none;
	background-color: #333533;
	color: white;
	font-size: 15px;
	width: 29.6rem;
	height: 120px;
}
@media only screen and (max-width: 1021px) {
	.msg {
		width: 70vw;
	}
}
@media only screen and (max-height: 763px) {
	.msg {
		height: 50px;
	}
}
@media only screen and (max-height: 575px) {
	.msg {
		height: 40px;
		padding: 10px;
	}
}
.contactBtn {
	width: 150px;
	padding: 10px;
	border-radius: 17px;
	border: 1px solid aqua;
	background-color: black;
	color: aqua;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
}
